{% extends "base_l.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head %}
{% load static %}
{% endblock %}
{% block content0 %}
<img class="image" src="{% static 'img/logo_iasd.png' %}" alt="logo">
<div class="message">Maranata... O senhor logo vem IASD</div>

<form method="post" action="{% url 'account_reset_password' %}" class="login-form">
    {% csrf_token %}
    <div style="color: #353535; font-size: 24px; font-weight: 400; word-wrap: break-word;">{% trans "Resetar Senha" %}</div>
    <div style="width: 100%; height: 10%; text-align: center; color: #8C8C8C; font-size: 12px; font-weight: 500; word-wrap: break-word"></div>
    <p>{% trans "Esqueceu sua senha? Insira seu endereço de e-mail abaixo, e nós enviaremos um e-mail permitindo que você a redefina." %}(Api do e-mail em manutenção)</p>
    <input type="email" name="email" placeholder="{% trans 'E-mail' %}" class="input" style="height: 10%;"required>
    <button type="submit" class="login-button" style="height: 15%; background: #171717">{% trans "Resetar Minha Senha" %}</button>
    <p>{% trans "Por favor, entre em contato conosco se tiver qualquer problema para resetar sua senha." %}</p>
</form>

{% endblock %}