{% extends "base_l.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head %}
{% load static %}
<style>
    .tooltip {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        color: #333;
        text-align: center;
        border-radius: 6px;
        padding: 8px 16px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        z-index: 10; /* Aumentado para garantir visibilidade */
        width: max-content;
        max-width: 280px;
        border: 1px solid #ddd;
        margin-top: -2%; /* Espaçamento do topo do input */

    }

    .tooltip::after {
        content: "";
        position: absolute;
        bottom: -25%; /* Ajuste para a seta aparecer na parte superior da tooltip */
        left: 75%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #f9f9f9 transparent transparent transparent;
    }

    .show {
        display: block;
    }
</style>
{% endblock %}
{% block content0 %}
<img class="image" src="{% static 'img/logo_iasd.png' %}" alt="logo">
<div class="message">Maranata... O senhor logo vem IASD</div>

<form method="post" action="{% url 'account_signup' %}" class="login-form">
    {% csrf_token %}
    <div style="color: #353535; font-size: 24px; font-weight: 400; word-wrap: break-word;">{% trans "Cadastro" %}</div>
    <input type="text" name="username" placeholder="{% trans 'Username' %}" style="height: 35%;" class="input" required onfocus="toggleTooltip('tooltipUsername', true)" onblur="toggleTooltip('tooltipUsername', false)">
    <span class="tooltip" id="tooltipUsername">Não coloque espaço no nome</span>

    <input type="text" name="email" placeholder="{% trans 'E-mail' %}" style="height: 35%;" class="input" required>
    <input type="password" name="password1" placeholder="{% trans 'Password' %}" style="height: 35%;" class="input" required onfocus="toggleTooltip('tooltipPassword1', true)" onblur="toggleTooltip('tooltipPassword1', false)">
    <span class="tooltip" id="tooltipPassword1">A senha deve ter ao menos 8 caracteres</span>
    <!-- <span class="tooltip" id="tooltipPassword1">• A senha deve ser alfanumerica</span> -->


    <input type="password" name="password2" placeholder="{% trans 'Confirme a Senha' %}" style="height: 35%;" class="input" required onfocus="toggleTooltip('tooltipPassword2', true)" onblur="toggleTooltip('tooltipPassword2', false)">
    <span class="tooltip" id="tooltipPassword2">Evite copiar a senha</span>


    <button type="submit" class="login-button" style="height: 35%; background: #171717">{% trans "Concluido" %}</button>
    <div>
        <span style="color: #353535; font-size: 9.75px; font-weight: 400;">{% trans "Já tem uma conta?" %} </span><a href="{% url 'account_login' %}" class="signup-message">{% trans "Login" %}</a>
    </div>
</form>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
<script>
    function toggleTooltip(tooltipId, show) {
        var tooltip = document.getElementById(tooltipId);
        if (show) {
            tooltip.classList.add("show");
        } else {
            tooltip.classList.remove("show");
        }
    }

    function validatePassword(input) {
        if (input.validity.patternMismatch) {
            input.setCustomValidity("Sua senha precisa conter pelo menos 8 caracteres e não pode ser inteiramente numérica.");
        } else if (input.validity.tooShort) {
            input.setCustomValidity("Sua senha precisa conter pelo menos 8 caracteres.");
        } else {
            input.setCustomValidity("");
        }
    }
</script>
{% endblock %}
<!-- {% load allauth i18n socialaccount %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Up" %}
    {% endelement %}
    <p>
        {% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>
    {% url 'account_signup' as action_url %}
    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button tags="prominent,signup" type="submit" %}
                {% trans "Sign Up" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %} -->
