{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="../static/css/hero.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

{% endblock %}
{% block content %}

<div class="justify-start items-start inline-flex bg-black" style="width: 100%; height: 100%;">
    <div class="espaco-superior w-[1440px] h-[802px] flex-col justify-start items-center gap-0 inline-flex">
        <div class="w-[1344px] h-[78px] text-white text-[70px] font-bold font-['Roboto'] leading-[90px]">Reserva das Salas</div>
        <div class="hero-section bg-black">
            <video class="hero-video" loop autoplay muted playsinline preload="auto" src="URL_DO_SEU_VIDEO.mp4" type="video/mp4"></video>
            <div class="hero-content">
                <h2 class="subtitle">Reserva das Salas</h2>
                <h1 class="title">IASD</h1>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-col justify-start items-start gap-20 bg-white px-4 py-7 md:px-16 md:py-28 w-full max-w-screen-xl mx-auto">
    <div class="flex font-['Roboto'] flex-col md:flex-row self-stretch justify-start items-start gap-20">
        <div class="flex flex-col justify-start items-start gap-8 grow">
            <div class="flex flex-col justify-start items-start gap-4">
                <div class="text-black text-3xl md:text-5xl font-bold">Reservas Descomplicadas: Guia do App</div>
                <div class="text-black text-base md:text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</div>
            </div>
        </div>
        <div class="flex flex-col justify-start items-start gap-4 grow">
            <!-- Time Line Step 1 -->
            <div class="flex flex-col md:flex-row justify-start items-start gap-10">
                <div class="flex flex-col justify-start items-center gap-4">
                    <div class="w-12 h-12 bg-black relative"></div>
                    <div class="w-0 h-[100px] md:w-[100px] md:h-0 md:rotate-90 border-2 border-black"></div>
                </div>
                <div class="flex flex-col justify-start items-start gap-2.5 grow">
                    <div class="text-black text-xl font-bold">Envio de Solicitação</div>
                    <div class="text-black text-base">Após escolher a sala desejada, selecione o horário disponível. Nosso pop-up intuitivo simplifica o processo, proporcionando facilidade e praticidade na realização do agendamento.</div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row justify-start items-start gap-10">
                <div class="flex flex-col justify-start items-center gap-4">
                    <div class="w-12 h-12 bg-black relative"></div>
                    <div class="w-0 h-[100px] md:w-[100px] md:h-0 md:rotate-90 border-2 border-black"></div>
                </div>
                <div class="flex flex-col justify-start items-start gap-2.5 grow">
                    <div class="text-black text-xl font-bold">Envio de Solicitação</div>
                    <div class="text-black text-base">Após escolher a sala desejada, selecione o horário disponível. Nosso pop-up intuitivo simplifica o processo, proporcionando facilidade e praticidade na realização do agendamento.</div>
                </div>
            </div>
            <div class="flex flex-col md:flex-row justify-start items-start gap-10">
                <div class="flex flex-col justify-start items-center gap-4">
                    <div class="w-12 h-12 bg-black relative"></div>
                    <div class="w-0 h-[100px] md:w-[100px] md:h-0 md:rotate-90 border-2 border-black"></div>
                </div>
                <div class="flex flex-col justify-start items-start gap-2.5 grow">
                    <div class="text-black text-xl font-bold">Envio de Solicitação</div>
                    <div class="text-black text-base">Após escolher a sala desejada, selecione o horário disponível. Nosso pop-up intuitivo simplifica o processo, proporcionando facilidade e praticidade na realização do agendamento.</div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <section class="bg-black flex justify-center py-18">
    <div class="relative w-full h-full">
        Foi removido o div de fundo preto absoluto, já que o section já tem fundo preto
        <div class="absolute top-0 left-0 w-full md:w-auto h-64 md:h-auto p-14 md:p-0 md:px-20 text-white text-6xl md:text-9xl font-staatliches font-normal leading-tight break-words">
            Selecione uma sala<br>abaixo para solicitar<br>um horário.
        </div>
        <div class="absolute top-64 left-0 w-full h-auto p-14 md:p-0 md:px-20 rounded-2xl flex flex-col items-start gap-14">
            Conteúdo dinâmico aqui
        </div>
    </div>
</section> -->
<!-- <div class="flex flex-col justify-start items-start gap-4 grow"> -->

<section class="bg-black flex flex-col justify-start gap-4 grow py-18">
    <div class="relative w-full h-full">
        <div style="width: 100%; height: 811px; left: 1px; top: -32px; position: absolute; background: black"></div>
        <div class="absolute top-0 left-0 w-full md:w-auto h-64 md:h-auto p-14 md:p-0 md:px-20 text-white text-6xl font-staatliches font-['Roboto'] leading-tight break-words">Selecione uma sala<br/>abaixo para solicitar<br/>um horário.</div><!-- md:text-9xl -->
        <div style="width: 100%; height: 537px; padding: 56px; left: 0px; top: 160px; position: absolute; border-radius: 32px; justify-content: flex-start; align-items: flex-start; gap: 56px; display: inline-flex">
    <script>
        let defaultTransform = 0;
        function goNext() {
            defaultTransform -= 398;
            var slider = document.getElementById("slider");
            if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.7) {
                defaultTransform = 0;
            }
            slider.style.transform = `translateX(${defaultTransform}px)`;
        }
    
        function goPrev() {
            var slider = document.getElementById("slider");
            if (Math.abs(defaultTransform) === 0) {
                defaultTransform = 0;
            } else {
                defaultTransform += 398;
            }
            slider.style.transform = `translateX(${defaultTransform}px)`;
        }
    
        document.addEventListener('DOMContentLoaded', (event) => {
            var next = document.getElementById("next");
            var prev = document.getElementById("prev");
    
            next.addEventListener("click", goNext);
            prev.addEventListener("click", goPrev);
        });
    </script>
    
    {% include 'pop_up.html' %}
    
    <div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4">
        <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
        <div class="w-full relative flex items-center justify-center">
            <button aria-label="slide backward" class="absolute z-30 left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer" id="prev">
                <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
            <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
                <div id="slider" class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
                    {% for sala in list_salas %}
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto" data-modal-open data-room-id="{{ sala.id }}" data-room-name="{{ sala.name }}">
                            <img src="{{ sala.thumb.url }}" alt="black chair and white table" class="object-cover object-center h-64 w-80" style="border-radius: 6px"/>
                            <div class="bg-gray-800 bg-opacity-30 absolute p-6 w-full h-full"> <!--  -->
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">{{ sala.name }}</h2>
                                </div>
                            </div>
                            <div class="flex h-full items-end pt-6 ">
                                <!-- <h3 class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">{{ sala.name }}</h3> -->
                            </div>
                    {% endfor %}
                </div>
            </div>
            <button aria-label="slide forward" class="absolute z-30 right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400" id="next">
                <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </button>
        </div>
    </div>    
</section>



            <!-- {% for sala in list_salas %} -->
            <!-- <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"> -->
            <!-- <div class="m-4 overflow-hidden flex-shrink-8 rounded-md cursor-pointer ">bg-blue-500 h-64 w-96 -->
                <!-- <a href="{% url 'home:popup' sala.pk%}">
                    <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">{{ sala.name }}</div>
                        <div style="width: 376px; background: white; border-radius: 32px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                            <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                                <img style="width: 376px;height: 100%; border-radius: 32px" src="{{ sala.thumb.url }}" />
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
        <!-- {% endfor %} -->






<!-- <script>
    let defaultTransform = 0;
        function goNext() {
        defaultTransform = defaultTransform - 398;
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.7)
            defaultTransform = 0;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
        }
        next.addEventListener("click", goNext);
        function goPrev() {
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
        else defaultTransform = defaultTransform + 398;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
        }
        prev.addEventListener("click", goPrev);
</script> -->

{% endblock %}
