{% extends "base.html" %}
{% load static %}


{% block content %}

<div style="width: 100%; height: 100%; padding-left: 64px; padding-right: 64px; padding-top: 112px; padding-bottom: 112px; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 80px; display: inline-flex">
    <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 80px; display: inline-flex">
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex">
            <div style="align-self: stretch; height: 213px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
                <div style="align-self: stretch; color: black; font-size: 48px; font-family: Roboto; font-weight: 700; line-height: 57.60px; word-wrap: break-word">Reservas Descomplicadas: Guia do App</div>
                <div style="align-self: stretch; color: black; font-size: 18px; font-family: Roboto; font-weight: 400; line-height: 27px; word-wrap: break-word"></div> <!-- Sub Cabeçalho--> 
            </div>
        </div>
        <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="width: 48px; height: 48px; position: relative">
                        <div style="width: 36px; height: 40px; left: 6px; top: 4px; position: absolute; background: black"></div>
                    </div>
                    <div style="width: 100px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 20px; font-family: Roboto; font-weight: 700; line-height: 28px; word-wrap: break-word">Envio de Solicitação</div>
                    <div style="align-self: stretch; color: black; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Após escolher a sala desejada, selecione o horário disponível. Nosso pop-up intuitivo simplifica o processo, proporcionando facilidade e praticidade na realização do agendamento.</div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="width: 48px; height: 48px; position: relative">
                        <div style="width: 36px; height: 40px; left: 6px; top: 4px; position: absolute; background: black"></div>
                    </div>
                    <div style="width: 100px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 20px; font-family: Roboto; font-weight: 700; line-height: 28px; word-wrap: break-word">Acompanhamento da Reserva</div>
                    <div style="align-self: stretch; color: black; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Confira o status das suas reservas em seu perfil. Mantemos você atualizado sobre suas solicitações, proporcionando uma maneira fácil e clara de visualizar o calendário.</div>
                </div>
            </div>
            <div style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
                <div style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
                    <div style="width: 48px; height: 48px; position: relative">
                        <div style="width: 36px; height: 40px; left: 6px; top: 4px; position: absolute; background: black"></div>
                    </div>
                    <div style="width: 100px; height: 0px; transform: rotate(90deg); transform-origin: 0 0; border: 2px black solid"></div>
                </div>
                <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
                    <div style="align-self: stretch; color: black; font-size: 20px; font-family: Roboto; font-weight: 700; line-height: 28px; word-wrap: break-word">Dúvidas Frequentes (FAQ)</div>
                    <div style="align-self: stretch; color: black; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Acesse nossa seção de Perguntas Frequentes para obter respostas rápidas e claras. Encontre informações adicionais e esclareça qualquer dúvida que possa surgir durante o processo de reserva.</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="width: 100%; height: 100%; position: relative">
    <div style="width: 100%; height: 811px; left: 1px; top: 0px; position: absolute; background: black"></div>
    <div style="width: 720px; height: 250px; left: 0px; top: 0px; position: absolute; color: white; font-size: 60px; font-family: Staatliches; font-weight: 400; line-height: 52.20px; word-wrap: break-word">Selecione uma sala<br/>abaixo para solicitar<br/>um horário.</div>
    <div style="width: 100%; height: 537px; padding: 56px; left: 0px; top: 250px; position: absolute; border-radius: 32px; justify-content: flex-start; align-items: flex-start; gap: 56px; display: inline-flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Nave da Igreja</div>
            <div style="width: 376px; background: white; border-radius: 32px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Cozinha</div>
            <div style="width: 376px; background: white; border-radius: 32px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Jovens</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Estacionamento</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Raizes</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 376px; height: 346px; background: linear-gradient(0deg, black 0%, black 100%); border-radius: 32px"></div>
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Sala de Inglês</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <div style="width: 376px; height: 346px; background: linear-gradient(0deg, black 0%, black 100%); border-radius: 32px"></div>
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Adolescentes</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Juvenis</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Primaários</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Jardim</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Rol do Berço A</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
            <div style="width: 376px; height: 44px; color: white; font-size: 30px; font-family: Nunito; font-weight: 600; word-wrap: break-word">Rol do Berço B</div>
            <div style="width: 376px; border-radius: 32px; overflow: hidden; background-image: url(https://via.placeholder.com/376x344); justify-content: center; align-items: center; display: inline-flex">
                <div style="flex: 1 1 0; height: 346px; border-radius: 32px; justify-content: center; align-items: center; display: inline-flex">
                    <img style="width: 376px; height: 346px; border-radius: 32px" src="https://via.placeholder.com/376x346" />
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
