{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<!-- Incluindo o tema dark -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<!-- Script de localização para português -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>

<style>
    /* Estilos do Modal */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 50; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        align-items: center; /* Alinha verticalmente */
        justify-content: center; /* Alinha horizontalmente */
    }

    .modal-content {
        background-color: #1F1F1F; /* Cor de fundo */
        padding: 16px;
        border: 1px solid #888;
        width: 1040px; /* Largura específica */
        height: auto; /* Altura específica */
        border-radius: 6px;
        /* Posição horizontal específica */
        /* Removido margin: auto; usado para centralização */
        position: relative; /* Necessário para aplicar 'left' e 'top' */
        /* left: 280px; Posição da esquerda */
        /* transform: translateY(-50%); Centraliza verticalmente */
        /* top: 50%; Junto com transform, centraliza verticalmente */
    }

    /* The Close Button */
    .close {
        position: absolute; /* Posição absoluta em relação ao .modal-content */
        top: 10px; /* Espaçamento do topo */
        right: 20px; /* Espaçamento da direita */
        color: #aaa;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }
    /* Customização do fundo do Flatpickr */
    .flatpickr-calendar {
        background: #1F1F1F; /* Altere para a cor de fundo desejada */
        border-radius: 6px !important;
        width: 100%; /* Exemplo de largura; ajuste conforme necessário */
    }
    .flatpickr-calendar .flatpickr-weekdays,
    .flatpickr-calendar .flatpickr-weekday,
    .flatpickr-calendar .flatpickr-days,
    .flatpickr-calendar .dayContainer {
        width: 100% !important /* Certifica com o que você como gosta */
    }

    .flatpickr-calendar .flatpickr-months .flatpickr-month {
        width: calc(100% - 40px) !important /* Ajusta recitante a interna a de a de vaga a preso a */
    }
    /* Se quiser alterar o fundo dos dias da semana */
    .flatpickr-weekdays {
        background: #1F1F1F; /* Cor de fundo mais escura para os dias da semana */
    }
    .flatpickr-weekday {
        background: #1F1F1F !important /* Cor de fundo mais escura para os dias da semana */
    }
    .flatpickr-monthDropdown-months {
        background: #1F1F1F !important /* Cor de fundo mais escura para os dias da semana */
    }
    .flatpickr-monthDropdown-month {
        background: #1F1F1F !important /* Cor de fundo mais escura para os dias da semana */
    }
    /* Para alterar o fundo dos dias no calendário */
    .flatpickr-day {
        background: #404040; /* Fundo dos dias no calendário */
        border-color: transparent; /* Remove a borda padrão dos dias */
        border-radius: 6px !important;
        width: calc(14.28% - 2px); /* Configura a largura para 1/7 do container, assumindo a margem */
        min-width: calc(14.28% - 2px); /* Uso de calculo baseado em % para divisões precisas por 7 */
        max-width: calc(14.28% - 2px); /* O mesmo que acima */
    }
    .flatpickr-day:hover {
        background: #555555; /* Cor de fundo ao passar o mouse */
    }
    .flatpickr-calendar .flatpickr-day.selected, 
    .flatpickr-calendar .flatpickr-day.startRange, 
    .flatpickr-calendar .flatpickr-day.endRange {
        background: #ffffff !important; /* Nova cor de fundo */
        border-radius: 6px !important; /* Quadrado */
    }

    /* Cor do texto do dia selecionado */
    .flatpickr-calendar .flatpickr-day.selected, 
    .flatpickr-calendar .flatpickr-day.startRange, 
    .flatpickr-calendar .flatpickr-day.endRange {
        color: #000000 !important; /* Nova cor do texto */
    }

    .flatpickr-calendar .flatpickr-months .flatpickr-month {
        background: #1F1F1F; /* Nova cor de fundo */
        color: #ffffff; /* Cor do texto */
    }
    .flatpickr-monthDropdown-months {
    background: #1F1F1F;
    }
    /* Cor do texto do input (DD/MM/YYYY) */
    input[type="text"].flatpickr-input {
        color: #cccccc; /* Cor do texto */
    }
    .flatpickr-calendar .flatpickr-days .flatpickr-day {
    margin: 1px; /* Ajuste o valor de acordo com a necessidade */
    width: 32px; /* Ajusta a largura dos dias */
    height: 46px; /* Ajusta a altura dos dias */
    line-height: 46px; /* Ajusta a altura da linha para centralizar o texto verticalmente */
    }
    .flatpickr-days, .dayContainer {
        width: 100%; /* Presiva e estando o a termino o versionar */
    }
    .dayContainer {
        min-width: 100%;
        max-width: 100%;
    }
    .selected {
    background-color: rgb(41, 44, 55); /* Verde, por exemplo */
    color: white;
    }
    #availableTimes {
        display: flex;
        flex-direction: column; /* Organiza os itens verticalmente */
        gap: 8px; /* Espaçamento entre os botões de horário */
    }

    #availableTimes button {
        width: 239px;
        height: 38px;
        padding-top: 9px;
        padding-bottom: 9px; /* Ajuste caso o botão pareça muito alto ou muito baixo */
        background-color: #404040; /* bg-zinc-900 */
        border-radius: 8px; /* rounded-md */
        border: 1px solid #4b5563; /* border-zinc-600 */
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px; /* Espaço entre botões, ajuste conforme necessário */
    }

    /* Estilos para o texto dentro do botão */
    #availableTimes button div {
        width: 58.65px;
        height: 20px; /* Ajustado de 'h-5' para pixels para melhor controle */
        text-align: center;
        color: #f9fafb; /* text-neutral-50 */
        font-size: 0.875rem; /* text-sm */
        font-weight: 500; /* font-medium */
        font-family: 'Inter', sans-serif;
        line-height: 20px; /* leading-tight, ajuste para centralizar verticalmente */
    }
    #availableTimes button:hover {
        background-color: #555; /* Cor de fundo do botão ao passar o mouse */
    }

    #availableTimes button.selected {
        background-color: #007bff; /* Cor de fundo do botão quando selecionado */
        color: #ffffff;
    }
</style>
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock head %}

{% block content0 %}

<!--md:max-w-xl-->
<div id="modal" class="modal hidden">
    <div class="modal-content", style="background: #1F1F1F">
        <div class="grid grid-cols-3 gap-4 p-4" style="display: grid; grid-template-columns: 30% 35% 35%;">
        <!-- Coluna 1: Nome da Sala e Outros Detalhes -->
        <div id="roomName" style="color: #ffffff; font-family: Roboto; font-size: 24px; font-style: normal; font-weight: 600; position: absolute; top: 16px;left: 24px;"></div>
        <div id="roomDetails" class="text-white  flex-col justify-between" style="width: 100%; height: 100%; padding: 16px;">
            <!-- <p>Selecione um dia e horário</p> -->
            <div class="flex flex-col justify-center items-center" style="flex-grow: 1;">
                <h2 style="color: #ffffff; margin-bottom: 8px;">Nome do evento</h2>
                <input id="eventName" class="bg-[#1F1F1F] border border-color-[#aaa] p-1" placeholder="Nome do Evento" style="width: 100%">
            </div>
        </div>
  
        <!-- Coluna 2: Input Date -->
        <div class="flex flex-col justify-center items-center border-l border-neutral-700"  style="width: 106%; padding: 16px;">
            <input type="text" id="datePicker" placeholder="Selecione uma data" class="text-white bg-[#1F1F1F]" style="color: #ffffff;margin: auto">
        </div>
  
        <!-- Coluna 3: Botão Fechar e Outros Botões -->
        <div class="flex flex-col text-white items-center justify-between border-l border-neutral-700" style="width: 100%;">
          <span class="close cursor-pointer font-bold self-end">&times;</span>
          <div>
            <div class="flex flex-col justify-center items-center" style="flex-grow: 1;">
                <h2 style="color: #ffffff; margin-bottom: 8px;">Horários Disponíveis</h2>
                <div id="availableTimes"></div>
                <button id="agendarBtn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4" style="position: absolute; bottom: 16px;right: 24px;">Agendar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const modal = document.getElementById('modal');
    const closeModal = modal.querySelector('.close');
    let horarioSelecionado = { inicio: null, fim: null };
    const agendarEventoUrl = modal.getAttribute('data-agendar-evento-url');
    const availableTimesElement = document.getElementById('availableTimes');
    
    document.querySelectorAll('[data-modal-open]').forEach(item => {
        item.addEventListener('click', function() {
            const modal = document.getElementById('modal');
            const salaId = this.getAttribute('data-room-id');
            const salaName = this.getAttribute('data-room-name');
            // Limpa os horários disponíveis anteriores
            availableTimesElement.innerHTML = '';

            document.getElementById('roomName').innerHTML = `<h1>${salaName}</h1>`;
            modal.setAttribute('data-current-sala-id', salaId);
            modal.style.display = 'flex';
        });
    });

    const datePicker = flatpickr("#datePicker", {
        inline: true,
        locale: "pt",
        onChange: function(selectedDates) {
            const salaId = modal.getAttribute('data-current-sala-id');
            if (!salaId || selectedDates.length === 0) return;
            const data = selectedDates[0].toISOString().slice(0, 10); // Formato 'YYYY-MM-DD'
            buscarHorariosDisponiveis(salaId, data);
        },
    });

    closeModal.addEventListener('click', () => modal.style.display = 'none');
    window.addEventListener('click', (event) => {
        if (event.target == modal) {
            modal.style.display = 'none';
            }
        });
    
    // Adiciona o botão de Agendar e a lógica de envio aqui
    document.getElementById('agendarBtn').addEventListener('click', function() {
        const salaId = modal.getAttribute('data-current-sala-id');
        if (!salaId || !horarioSelecionado.inicio) return alert("Selecione um horário antes de agendar.");
        // const dataSelecionada = datePicker.selectedDates[0].toISOString().slice(0, 10);
        // enviarAgendamento(salaId, datePicker.selectedDates[0].toISOString().slice(0, 10), horarioSelecionado.inicio, horarioSelecionado.fim);
        const selectedDate = datePicker.selectedDates[0];
        if (selectedDate) {
            const formattedDate = selectedDate.toISOString().slice(0, 10); // Formato 'YYYY-MM-DD'
            enviarAgendamento(salaId, formattedDate, horarioSelecionado.inicio, horarioSelecionado.fim);
        } else {
            alert("Por favor, selecione uma data.");
        }
    });
    function buscarHorariosDisponiveis(salaId, data) {
        fetch(`/verificar-disponibilidade/${salaId}/${data}/`)
            .then(response => response.json())
            .then(data => {
                const horariosDisponiveis = data.horarios_disponiveis;
                const availableTimesElement = document.getElementById('availableTimes');
                availableTimesElement.innerHTML = ''; // Limpa antes de adicionar novos horários
                horariosDisponiveis.forEach(horario => {
                    const timeSlot = document.createElement('button');
                    timeSlot.type = "button";
                    timeSlot.textContent = `${horario.inicio} - ${horario.fim}`;
                    timeSlot.dataset.horarioInicio = horario.inicio;
                    timeSlot.dataset.horarioFim = horario.fim;
                    timeSlot.classList.add('time-slot');
                    timeSlot.addEventListener('click', function() {
                        horarioSelecionado.inicio = this.dataset.horarioInicio;
                        horarioSelecionado.fim = this.dataset.horarioFim;
                        console.log("Horário selecionado:", horarioSelecionado);
                        // Destaque visual para o horário selecionado
                        document.querySelectorAll('#availableTimes button').forEach(btn => btn.classList.remove('selected'));
                        this.classList.add('selected');
                    });
                    availableTimesElement.appendChild(timeSlot);
                });
            })
            .catch(error => console.error('Erro ao buscar horários disponíveis:', error));
        }
    });
    function enviarAgendamento(salaId, data, inicio, fim) {
        const nomeEvento = document.getElementById('eventName').value;
        if (!nomeEvento) {
            alert("Por favor, insira o nome do evento.");
            return;
        }

        const dataInicio = `${data}T${inicio}:00`;
        const dataFim = `${data}T${fim}:00`;
        // const dataFim = `${data}T${fim}:00`;
        fetch('/agendar-evento/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken(),
            },
            body: JSON.stringify({
                sala_id: salaId,
                // data: data,
                start: dataInicio,
                end: dataFim,
                name: nomeEvento,
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Falha na requisição: ' + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            if (data.status === 'success') {
                alert("Agendamento realizado com sucesso!");
                modal.style.display = 'none';
            } else {
                alert("Erro ao realizar agendamento." + data.message);
            }
        })
        .catch(error => {
            console.error('Erro:', error);
            alert("Erro ao realizar o agendamento.");
        });
    }

    function getCsrfToken() {
        return document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    }
</script>


{% endblock %}